# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [14]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [15]:
# Upload credit_card_transactions.csv to Colab
#from google.colab import files

#csv_file = files.upload()

In [16]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [17]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [18]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [19]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [20]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [21]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [22]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Display sample data
encoded_df.head()

/Users/pete/miniforge3/envs/tensor/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [23]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
applicant_data_df =applicant_data_df.drop(columns = categorical_variables)
encoded_df = pd.concat([encoded_df,applicant_data_df], axis=1)

# Review the Dataframe
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [24]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [25]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')
# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [26]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [29]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

X_train_scaled

array([[-0.12615722, -0.02925687, -0.04457043, ..., -0.02646178,
         0.00881785, -0.03372765],
       [-0.12615722, -0.02925687, -0.04457043, ..., -0.02646178,
         0.00881785, -0.02477758],
       [-0.12615722, -0.02925687, -0.04457043, ..., -0.02646178,
         0.00881785, -0.03372765],
       ...,
       [-0.12615722, -0.02925687, -0.04457043, ..., -0.02646178,
         0.00881785, -0.03040206],
       [-0.12615722, -0.02925687, -0.04457043, ..., -0.02646178,
         0.00881785, -0.03372765],
       [-0.12615722, -0.02925687, -0.04457043, ..., -0.02646178,
         0.00881785, -0.03372765]])

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [31]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [32]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  32

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

32

In [34]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  16

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

16

In [35]:
# Create the Sequential model instance
nn = Sequential()

Metal device set to: Apple M1 Pro

2022-04-20 21:57:24.579608: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-04-20 21:57:24.579759: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [36]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [37]:
# Add the second hidden layer
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [38]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation="sigmoid"))

In [39]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                3744

 dense_1 (Dense)             (None, 16)                528

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 4,289
Trainable params: 4,289
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [40]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [41]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50

2022-04-20 21:58:00.038945: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz
2022-04-20 21:58:00.225926: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

804/804 [==============================] - 6s 5ms/step - loss: 0.5836 - accuracy: 0.7145
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5558 - accuracy: 0.7296
Epoch 3/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5507 - accuracy: 0.7313
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5492 - accuracy: 0.7330
Epoch 5/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5472 - accuracy: 0.7338
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5461 - accuracy: 0.7350
Epoch 7/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5460 - accuracy: 0.7348
Epoch 8/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5450 - accuracy: 0.7347
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5444 - accuracy: 0.7357
Epoch 10/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5432 - accuracy: 0.7345
Epoch 11/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5434 - accuracy: 0.7356
Epoch 12/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5427 - accuracy: 0.7362
Epoch 13/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5424 - accuracy: 0.7354
Epoch 14/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5419 - accuracy: 0.7360
Epoch 15/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5414 - accuracy: 0.7364
Epoch 16/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5410 - accuracy: 0.7372
Epoch 17/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5409 - accuracy: 0.7365
Epoch 18/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5403 - accuracy: 0.7368
Epoch 19/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5396 - accuracy: 0.7363
Epoch 20/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5399 - accuracy: 0.7378
Epoch 21/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5393 - accuracy: 0.7379
Epoch 22/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5391 - accuracy: 0.7378
Epoch 23/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5383 - accuracy: 0.7375
Epoch 24/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5385 - accuracy: 0.7385
Epoch 25/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5379 - accuracy: 0.7389
Epoch 26/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5377 - accuracy: 0.7393
Epoch 27/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5374 - accuracy: 0.7391
Epoch 28/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5373 - accuracy: 0.7391
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5366 - accuracy: 0.7389
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5370 - accuracy: 0.7390
Epoch 31/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5366 - accuracy: 0.7392
Epoch 32/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5365 - accuracy: 0.7403
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5361 - accuracy: 0.7390
Epoch 34/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5362 - accuracy: 0.7404
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5360 - accuracy: 0.7399
Epoch 36/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5357 - accuracy: 0.7390
Epoch 37/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5359 - accuracy: 0.7400
Epoch 38/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5355 - accuracy: 0.7400
Epoch 39/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5354 - accuracy: 0.7404
Epoch 40/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5356 - accuracy: 0.7402
Epoch 41/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5355 - accuracy: 0.7410
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5356 - accuracy: 0.7390
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5351 - accuracy: 0.7411
Epoch 44/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5350 - accuracy: 0.7399
Epoch 45/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5351 - accuracy: 0.7401
Epoch 46/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5348 - accuracy: 0.7402
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5346 - accuracy: 0.7415
Epoch 48/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5344 - accuracy: 0.7410
Epoch 49/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5346 - accuracy: 0.7415
Epoch 50/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5342 - accuracy: 0.7405

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [73]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5643 - accuracy: 0.7282 - 711ms/epoch - 3ms/step
Loss: 0.5643132925033569, Accuracy: 0.7281632423400879

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [43]:
# Set the model's file path
file_path = Path("AlphabetSoup.h5")

# Export your model to a HDF5 file

# Export your model to an HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [46]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [47]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [50]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 64

# Review the number of hidden nodes in the first layer


# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A1 = 32

# Review the number of hidden nodes in the first layer
print(hidden_nodes_layer1_A1,hidden_nodes_layer2_A1)

64 32

In [51]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [65]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A2, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                3744

 dense_1 (Dense)             (None, 16)                528

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 4,289
Trainable params: 4,289
Non-trainable params: 0
_________________________________________________________________

In [66]:
# Compile the Sequential model

nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [69]:
# Fit the model using 50 epochs and the training data
n_batch = 32
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50, batch_size = n_batch)

Epoch 1/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5404 - accuracy: 0.7383
Epoch 2/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5386 - accuracy: 0.7382
Epoch 3/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5368 - accuracy: 0.7404
Epoch 4/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5374 - accuracy: 0.7398
Epoch 5/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5372 - accuracy: 0.7397
Epoch 6/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5365 - accuracy: 0.7390
Epoch 7/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5370 - accuracy: 0.7407
Epoch 8/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5369 - accuracy: 0.7397
Epoch 9/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5362 - accuracy: 0.7387
Epoch 10/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5365 - accuracy: 0.7399
Epoch 11/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5372 - accuracy: 0.7395
Epoch 12/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5363 - accuracy: 0.7400
Epoch 13/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5355 - accuracy: 0.7388
Epoch 14/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5366 - accuracy: 0.7406
Epoch 15/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5360 - accuracy: 0.7388
Epoch 16/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5355 - accuracy: 0.7409
Epoch 17/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5351 - accuracy: 0.7406
Epoch 18/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5357 - accuracy: 0.7409
Epoch 19/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5352 - accuracy: 0.7404
Epoch 20/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5353 - accuracy: 0.7404
Epoch 21/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5355 - accuracy: 0.7398
Epoch 22/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5349 - accuracy: 0.7395
Epoch 23/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5350 - accuracy: 0.7404
Epoch 24/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5353 - accuracy: 0.7409
Epoch 25/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5344 - accuracy: 0.7397
Epoch 26/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5349 - accuracy: 0.7413
Epoch 27/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5352 - accuracy: 0.7397
Epoch 28/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5340 - accuracy: 0.7414
Epoch 29/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5343 - accuracy: 0.7404
Epoch 30/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5346 - accuracy: 0.7404
Epoch 31/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5342 - accuracy: 0.7400
Epoch 32/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5339 - accuracy: 0.7419
Epoch 33/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5344 - accuracy: 0.7408
Epoch 34/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5340 - accuracy: 0.7418
Epoch 35/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5333 - accuracy: 0.7409
Epoch 36/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5338 - accuracy: 0.7390
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5338 - accuracy: 0.7404
Epoch 38/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5335 - accuracy: 0.7402
Epoch 39/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5338 - accuracy: 0.7406
Epoch 40/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5334 - accuracy: 0.7409
Epoch 41/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5338 - accuracy: 0.7410
Epoch 42/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5334 - accuracy: 0.7411
Epoch 43/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5340 - accuracy: 0.7399
Epoch 44/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5334 - accuracy: 0.7412
Epoch 45/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5337 - accuracy: 0.7418
Epoch 46/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5337 - accuracy: 0.7414
Epoch 47/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5331 - accuracy: 0.7415
Epoch 48/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5339 - accuracy: 0.7413
Epoch 49/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5331 - accuracy: 0.7418
Epoch 50/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5331 - accuracy: 0.7413

#### Alternative Model 2

In [74]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5557 - accuracy: 0.7299 - 941ms/epoch - 4ms/step
Loss: 0.5556679964065552, Accuracy: 0.729912519454956

In [75]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [76]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [77]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 32

# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A2 = 32

# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer3_A2 = 32

# Review the number of hidden nodes in the first layer
print(hidden_nodes_layer1_A2,hidden_nodes_layer2_A2,hidden_nodes_layer3_A2)

32 32 32

In [78]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [79]:
# Hidden Layers

nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="softmax"))
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, input_dim=number_input_features, activation="softsign"))
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 32)                3744

 dense_12 (Dense)            (None, 32)                1056

 dense_13 (Dense)            (None, 32)                1056

 dense_14 (Dense)            (None, 1)                 33

=================================================================
Total params: 5,889
Trainable params: 5,889
Non-trainable params: 0
_________________________________________________________________

In [81]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [82]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=100, batch_size = n_batch)

Epoch 1/100

2022-04-20 22:36:55.858823: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

804/804 [==============================] - 7s 7ms/step - loss: 0.5869 - accuracy: 0.7050
Epoch 2/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5559 - accuracy: 0.7306
Epoch 3/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5512 - accuracy: 0.7328
Epoch 4/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5487 - accuracy: 0.7329
Epoch 5/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5466 - accuracy: 0.7328
Epoch 6/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5449 - accuracy: 0.7343
Epoch 7/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5440 - accuracy: 0.7360
Epoch 8/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5430 - accuracy: 0.7362
Epoch 9/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5419 - accuracy: 0.7371
Epoch 10/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5407 - accuracy: 0.7360
Epoch 11/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5406 - accuracy: 0.7378
Epoch 12/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5403 - accuracy: 0.7381
Epoch 13/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5397 - accuracy: 0.7378
Epoch 14/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5390 - accuracy: 0.7381
Epoch 15/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5391 - accuracy: 0.7382
Epoch 16/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5388 - accuracy: 0.7384
Epoch 17/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5383 - accuracy: 0.7388
Epoch 18/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5384 - accuracy: 0.7381
Epoch 19/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5382 - accuracy: 0.7386
Epoch 20/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5379 - accuracy: 0.7390
Epoch 21/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5377 - accuracy: 0.7392
Epoch 22/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5378 - accuracy: 0.7389
Epoch 23/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5373 - accuracy: 0.7388
Epoch 24/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5372 - accuracy: 0.7393
Epoch 25/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5372 - accuracy: 0.7395
Epoch 26/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5369 - accuracy: 0.7397
Epoch 27/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5368 - accuracy: 0.7394
Epoch 28/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5367 - accuracy: 0.7397
Epoch 29/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5362 - accuracy: 0.7400
Epoch 30/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5358 - accuracy: 0.7406
Epoch 31/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5361 - accuracy: 0.7405
Epoch 32/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5356 - accuracy: 0.7406
Epoch 33/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5356 - accuracy: 0.7400
Epoch 34/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 35/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5356 - accuracy: 0.7402
Epoch 36/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5353 - accuracy: 0.7416
Epoch 37/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5353 - accuracy: 0.7405
Epoch 38/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5351 - accuracy: 0.7403
Epoch 39/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5343 - accuracy: 0.7400
Epoch 40/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5349 - accuracy: 0.7409
Epoch 41/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5347 - accuracy: 0.7404
Epoch 42/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5346 - accuracy: 0.7404
Epoch 43/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5348 - accuracy: 0.7403
Epoch 44/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5344 - accuracy: 0.7404
Epoch 45/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5342 - accuracy: 0.7406
Epoch 46/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5337 - accuracy: 0.7409
Epoch 47/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5339 - accuracy: 0.7408
Epoch 48/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5336 - accuracy: 0.7402
Epoch 49/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5333 - accuracy: 0.7410
Epoch 50/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5338 - accuracy: 0.7410
Epoch 51/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5337 - accuracy: 0.7405
Epoch 52/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5332 - accuracy: 0.7408
Epoch 53/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5333 - accuracy: 0.7411
Epoch 54/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5334 - accuracy: 0.7409
Epoch 55/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5332 - accuracy: 0.7410
Epoch 56/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5335 - accuracy: 0.7402
Epoch 57/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5331 - accuracy: 0.7411
Epoch 58/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5328 - accuracy: 0.7416
Epoch 59/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5333 - accuracy: 0.7407
Epoch 60/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5329 - accuracy: 0.7418
Epoch 61/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5328 - accuracy: 0.7411
Epoch 62/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5328 - accuracy: 0.7416
Epoch 63/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5325 - accuracy: 0.7413
Epoch 64/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5325 - accuracy: 0.7413
Epoch 65/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5327 - accuracy: 0.7417
Epoch 66/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5322 - accuracy: 0.7402
Epoch 67/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5328 - accuracy: 0.7412
Epoch 68/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5325 - accuracy: 0.7418
Epoch 69/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5321 - accuracy: 0.7418
Epoch 70/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5320 - accuracy: 0.7416
Epoch 71/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5325 - accuracy: 0.7420
Epoch 72/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5323 - accuracy: 0.7418
Epoch 73/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5319 - accuracy: 0.7415
Epoch 74/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5319 - accuracy: 0.7415
Epoch 75/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5315 - accuracy: 0.7414
Epoch 76/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5318 - accuracy: 0.7423
Epoch 77/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5319 - accuracy: 0.7418
Epoch 78/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5318 - accuracy: 0.7424
Epoch 79/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5316 - accuracy: 0.7415
Epoch 80/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5312 - accuracy: 0.7425
Epoch 81/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5319 - accuracy: 0.7417
Epoch 82/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5314 - accuracy: 0.7408
Epoch 83/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5314 - accuracy: 0.7413
Epoch 84/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5314 - accuracy: 0.7419
Epoch 85/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5312 - accuracy: 0.7420
Epoch 86/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5310 - accuracy: 0.7421
Epoch 87/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5310 - accuracy: 0.7408
Epoch 88/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5315 - accuracy: 0.7414
Epoch 89/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5311 - accuracy: 0.7428
Epoch 90/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5307 - accuracy: 0.7416
Epoch 91/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5313 - accuracy: 0.7416
Epoch 92/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5311 - accuracy: 0.7413
Epoch 93/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5309 - accuracy: 0.7414
Epoch 94/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5312 - accuracy: 0.7415
Epoch 95/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5311 - accuracy: 0.7422
Epoch 96/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5308 - accuracy: 0.7421
Epoch 97/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5307 - accuracy: 0.7424
Epoch 98/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5309 - accuracy: 0.7419
Epoch 99/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5307 - accuracy: 0.7424
Epoch 100/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5304 - accuracy: 0.7421

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [83]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.5643 - accuracy: 0.7282 - 656ms/epoch - 2ms/step
Loss: 0.5643132925033569, Accuracy: 0.7281632423400879

In [84]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.5557 - accuracy: 0.7299 - 741ms/epoch - 3ms/step
Loss: 0.5556679964065552, Accuracy: 0.729912519454956

In [85]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results

2022-04-20 22:47:05.050846: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

268/268 - 1s - loss: 0.5590 - accuracy: 0.7291 - 999ms/epoch - 4ms/step
Loss: 0.5589780807495117, Accuracy: 0.7290961742401123

### Step 3: Save each of your alternative models as an HDF5 file.

In [86]:
# Set the file path for the first alternative model
file_path = Path("AlphabetSoup_nn_a1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [87]:
# Set the file path for the second alternative model
file_path = Path("AlphabetSoup_nn_a2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)